<div data-controller="musics--list--component"
     data-action="scroll@window->musics--list--component#scroll"
     data-playlist="<%= @playlist.id %>"
     data-offset="<%= @offset %>"
     data-load="20">
</div>

