<p id="notice"><%= notice %></p>

<div class="block text-center mt-4 mb-10 text-3xl">
  Playlists
</div>

<% @playlists.each do |playlist| %>
  <%= render Playlists::Card::Component.new(playlist: playlist) %>
<% end %>

<br>

<%= link_to 'New Playlist', new_playlist_path %>
