<div class="flex items-center text-center justify-center text-2xl mt-4 mb-10">
  <%= @playlist.title %>
</div>

<div class="-mx-4">
  <% @playlist.musics.order(:id).each do |music| %>
    <%= render Musics::Card::Component.new(music: music, playlist: @playlist) %>
  <% end %>
</div>


<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
