<div class="flex items-center text-center justify-center text-2xl mt-4 mb-10">
  <%= @playlist.title %>
</div>

<div class="-mx-4">
  <%= render Musics::List::Component.new(musics: @musics, playlist: @playlist) %>
</div>
